@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #0ea5e9;
  --color-background-dark: #0f172a;
  --color-whatsapp: #25D366;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-poppins: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
